baseURL = "http://example.org/"
languageCode = "en-us"
title = "My New Hugo Site"
theme = "alex-hugo-theme"

[menu]
  [[menu.main]]
  name = "home"
  url = "/"
  weight = 1

  [[menu.main]]
  name = "posts"
  url = "/posts"
  weight = 2

  [[menu.main]]
  name = "about"
  url = "/about"
  weight = 3

[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'assets/notwatching/hugo_stats\.json'
    target = 'css'
  [[build.cachebusters]]
    source = '(postcss|tailwind)\.config\.js'
    target = 'css'
[module]
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    disableWatch = true
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'

